header {
    height: 100vh;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}
p {
    font-weight: 500;
    font-size: 1.2em;
}

.button {
    display: flex; 
    justify-content: space-around;
}

@import url('https://fonts.googleapis.com/css2? family= Alkatra & display=swap');

h1 {
    font-family: 'Alkatra', cursive;
}

.lien {
    display: flex;
    justify-content: space-evenly;
}

.lien a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}